services:

  # ================= ZOOKEEPER =================
  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    healthcheck:
      test: ["CMD", "bash", "-c", "echo ruok | nc localhost 2181 | grep imok"]
      interval: 10s
      timeout: 5s
      retries: 5

  # ================= KAFKA =================
  kafka:
    image: confluentinc/cp-kafka:7.4.0
    container_name: kafka
    depends_on:
      zookeeper:
        condition: service_healthy
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    healthcheck:
      test: ["CMD", "bash", "-c", "nc -z localhost 9092"]
      interval: 10s
      timeout: 5s
      retries: 10

  # ================= MONGODB =================
  mongodb:
    image: mongo:6.0
    container_name: mongodb
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.runCommand('ping').ok"]
      interval: 10s
      timeout: 5s
      retries: 5

  # ================= EUREKA SERVER =================
  eureka-server:
    container_name: eureka-server
    build:
      context: .
      dockerfile: Dockerfile
      args:
        SERVICE_NAME: eureka-server
    ports:
      - "18761:8761"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8761/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 10

  # ================= CONFIG SERVER =================
  configserver:
    container_name: configserver
    build:
      context: .
      dockerfile: Dockerfile
      args:
        SERVICE_NAME: configserver
    depends_on:
      eureka-server:
        condition: service_healthy
    ports:
      - "18888:8888"
    volumes:
      - ./config-repo:/config-repo  
    environment:
      SPRING_PROFILES_ACTIVE: native
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-server:8761/eureka
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8888/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 10

  # ================= AUTH SERVICE =================
  authservice:
    container_name: authservice
    build:
      context: .
      dockerfile: Dockerfile
      args:
        SERVICE_NAME: authservice
    depends_on:
      configserver:
        condition: service_healthy
      mongodb:
        condition: service_healthy
    environment:
      APP_JWT_SECRET: a-EiKcOQqlVMoERs7bznaCYR6EoPCb4N0iikaZgQiWo
      SPRING_PROFILES_ACTIVE: docker
      SPRING_CLOUD_CONFIG_URI: http://configserver:8888
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-server:8761/eureka
      SPRING_DATA_MONGODB_URI: mongodb://mongodb:27017/authdb
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 10

  # ================= FLIGHT SERVICE =================
  flightservice:
    container_name: flightservice
    build:
      context: .
      dockerfile: Dockerfile
      args:
        SERVICE_NAME: flightservice
    depends_on:
      configserver:
        condition: service_healthy
      mongodb:
        condition: service_healthy
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SPRING_CLOUD_CONFIG_URI: http://configserver:8888
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-server:8761/eureka
      SPRING_DATA_MONGODB_URI: mongodb://mongodb:27017/flightdb
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 10

  # ================= BOOKING SERVICE =================
  bookingservice:
    container_name: bookingservice
    build:
      context: .
      dockerfile: Dockerfile
      args:
        SERVICE_NAME: bookingservice
    depends_on:
      kafka:
        condition: service_healthy
      mongodb:
        condition: service_healthy
      configserver:
        condition: service_healthy
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SPRING_CLOUD_CONFIG_URI: http://configserver:8888
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-server:8761/eureka
      SPRING_DATA_MONGODB_URI: mongodb://mongodb:27017/bookingdb
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 10

  # ================= EMAIL SERVICE =================
  emailservice:
    container_name: emailservice
    build:
      context: .
      dockerfile: Dockerfile
      args:
        SERVICE_NAME: emailservice
    depends_on:
      kafka:
        condition: service_healthy
      configserver:
        condition: service_healthy
    environment:
      SPRING_MAIL_USERNAME: sravanthigurram955@gmail.com
      SPRING_MAIL_PASSWORD: blmvcdbtosuvhlzt
      SPRING_PROFILES_ACTIVE: docker
      SPRING_CLOUD_CONFIG_URI: http://configserver:8888
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-server:8761/eureka
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 10

  # ================= API GATEWAY =================
  apigateway:
    container_name: apigateway
    build:
      context: .
      dockerfile: Dockerfile
      args:
        SERVICE_NAME: apigateway
    depends_on:
      authservice:
        condition: service_healthy
      flightservice:
        condition: service_healthy
      bookingservice:
        condition: service_healthy
    ports:
      - "18080:8080"
    environment:
      APP_JWT_SECRET: a-EiKcOQqlVMoERs7bznaCYR6EoPCb4N0iikaZgQiWo
      SPRING_PROFILES_ACTIVE: docker
      SPRING_CLOUD_CONFIG_URI: http://configserver:8888
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-server:8761/eureka
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 10
